<div class="main-header" >
    <form class="main-header-form" action="">
        {{>Link class="main-header-link" text="Профиль >"}}
        {{>Input class="main-header-input"  type="search" placeholder="Поиск" }}
    </form>
</div>
