<div class="profile-data">
    {{#each profileData}}
        <div class="profile-row">
            <span>{{this.description}}</span>
            <span class="profile-row-data-text-grey">{{this.data}}</span>
        </div>
{{/each}}
</div>

