
<div class="profile">
    {{>Avatar src="{{avatar}}" class="profile-avatar" }}
    <form action="">
     {{>ProfileRow}}
        {{>Button class="btn btn-primary btn-save" text="Сохранить"}}
    </form>
</div>
