
.change-avatar-btn{
    width: 230px;
}

.change-avatar-input{
     padding-left: 15px;
 }

.change-avatar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 150px;
    width: 150px;
    text-decoration: none;
    background-color: gray;
    border-radius: 50%;
    color: transparent;
}

.change-avatar-link:hover{
    color: white;
}
