.change-avatar{
    width: 250px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.change-avatar-btn{
    width: 230px;
}

.change-avatar-input{
     padding-left: 15px;
 }

.change-avatar-link{
    display: flex;
    margin:50px auto;
    height: 150px;
    width: 150px;
    text-decoration: none;
}
