.main-header {
    width: 500px;
    height: 100px;
    background-color: #fff;

}

.main-header-form {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.main-header-link {
    display: flex;
    justify-content: flex-end;
    color: #999;
}

.main-header-input {
    background-color: #efefef;
    width: 500px;
    border-radius: 5%;
    height: 32px;
    text-align: center;
    margin-top: 20px;
}