<div class="footer">
<div class=" border-bottom-line">
    {{>Link id="change-data" class="change-data" data-page="ChangeDataPage" text="Изменить данные" href="#"}}
</div>
    <div class=" border-bottom-line">
    {{>Link id="change-password" class="change-password" data-page="ChangePasswordPage" text="Изменить пароль" href="#"}}
</div>
    <div >
    {{>Link id="exit-link" class="exit-link-red" data-page="MainContent" text="Выйти" href="#"}}
</div>
</div>
