<div class="change-avatar">
    <h3>Загрузите файл</h3>
    <form action="">
        {{>Input  type="file"  id="avatar" name="avatar" }}
        {{>Button class="btn btn-primary btn-save change-avatar-btn" type="submit" text="Поменять"}}
    </form>
</div>
