<div class="app">
    <h1>Вход</h1>
    <form action="#" method="post">
        <label for="name">Логин</label>
        {{>Input id="name" name="login" type="text" placeholder="Логин"}}
        <label for="password">Пароль</label>
        {{>Input id="password" name="password" type="password" placeholder="Пароль"}}
        {{>Button class="btn btn-primary btn-authorization" text="Авторизоваться"}}
        {{>Link id="return-chat" class="no-account-link" text="Нет аккаунта?" href="#"}}
    </form>
</div>
