<div class="registration-page">
    <h1>Регистрация</h1>
    <form action="#" method="post" >
        <label for="email">Почта</label>
        {{>Input id="email" name="email" type="email" placeholder="Почта" class="input-under-line"}}
        <label for="login">Логин</label>
        {{>Input id="login" name="login" type="text" placeholder="Логин" class="input-under-line"}}
        <label for="first_name">Имя</label>
        {{>Input id="first_name" name="first_name" type="text" placeholder="Имя" class="input-under-line"}}
        <label for="second_name">Фамилия</label>
        {{>Input id="second_name" name="second_name" type="text" placeholder="Фамилия"class="input-under-line"}}
        <label for="phone">Телефон</label>
        {{>Input id="phone" name="phone" type="tel" placeholder="Телефон" class="input-under-line"}}
        <label for="password">Пароль</label>
        {{>Input id="password" name="password" type="password" placeholder="Пароль" class="input-under-line"}}
        <label for="passwordRepeat">Пароль еще раз</label>
        {{>Input id="passwordRepeat" name="passwordRepeat" type="password" placeholder="Пароль еще раз" class="input-under-line"}}
        {{>Button class="btn btn-primary btn-registration" type="submit" text="Зарегистрироваться"}}
        {{>Link id="return-chat" class="enter-link" data-page="LoginPage" text="Войти" href="#"}}
    </form>
</div>
