
<div class="change-password-page">
    {{>Avatar src="{{avatar}}" class="profile-avatar" }}
    <form class="profile-data form-container" method="POST" enctype="multipart/form-data">
        <div class="profile-row">
            <label >Старый пароль </label>
            <span >{{>Input  id="oldPassword" name="oldPassword"   type="password"  value="12345"}}</span>
        </div>
        <div class="profile-row">
            <label>Новый пароль </label>
            <span>{{>Input id="newPassword"  name="newPassword" type="password"   value="12345" }}</span>
        </div>
        <div class="profile-row ">
            <label>Повторите новый пароль </label>
            <span>{{>Input id="newPasswordRepeat"  name="newPasswordRepeat" type="password"   value="12345" }}</span>
        </div>
        {{>Button class="btn btn-primary btn-save" type="submit" text="Сохранить"}}
    </form>
</div>
