<nav class="footer">
    <ul>
        <li><a href="#" data-page="MainContent">Главная</a></li>
        <li><a href="#" data-page="LoginPage">Вход</a></li>
        <li><a href="#" data-page="RegistrationPage">Регистрация</a></li>
        <li><a href="#" data-page="ProfilePage">Профиль</a></li>
        <li><a href="#" data-page="ChangePasswordPage">Пароль</a></li>
        <li><a href="#" data-page="ChangeDataPage">Изменить данные</a></li>
        <li><a href="#" data-page="ChangeAvatarPage">Изменить аватар</a></li>
        <li><a href="#" data-page="ErrorPage404">Ошибка 404</a></li>
        <li><a href="#" data-page="ErrorPage500">Ошибка 500</a></li>
    </ul>
</nav>
